[submodule "dependencies/submodules/glm"] 
path = viGemBridge/include/glm 
url = https://github.com/g-truc/glm/tree/cc98465e3508535ba8c7f6208df934c156a018dc  

[submodule "dependencies/submodules/imgui"]
path = viGemBridge/include/imgui 
url = https://github.com/ocornut/imgui/tree/c6e0284ac58b3f205c95365478888f7b53b077e2
