[submodule "viGemBridge/include/glm"]
    path = viGemBridge/include/glm
    url = https://github.com/g-truc/glm

[submodule "viGemBridge/include/imgui"]
    path = viGemBridge/include/imgui
    url = https://github.com/ocornut/imgui
